{% extends "fitlogapp/components/base.html" %} {% block page_content %}

<div class="content_tag">
  <a class="active">最新の投稿</a>
  <a>フォローしているユーザー</a>
  <a>マイページ</a>
</div>

<div class="my_container">
  <div class="slider">
    <div class="my_contents latest_posts">
      <p>最新の投稿</p>
      {% include "fitlogapp/components/posts.html"%}
    </div>
    <div class="my_contents follow_posts">
      <p>フォロー中の投稿</p>
      {% include "fitlogapp/components/posts.html"%}
    </div>
    <div class="my_contents my_posts">
      <p>自分の投稿</p>
      {% include "fitlogapp/components/posts.html"%}
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', (event) => {
    const slider = document.querySelector('.slider');
    let translateValue = 0;
    const sliderWidth = slider.clientWidth;
    const contentWidth = document.querySelector('.my_contents').clientWidth;
    let contentNum = 1;
    const contentTag = document.querySelector('.content_tag');
    const tagList = contentTag.querySelectorAll('a');

    const nextContents = () => {
      const tmpContentNum = contentNum + 1;
      if (isExistSlider(tmpContentNum)) {
        updateScreen(tmpContentNum);
      }
    };

    const prevContents = () => {
      const tmpContentNum = contentNum - 1;
      if (isExistSlider(tmpContentNum)) {
        updateScreen(tmpContentNum);
      }
    };

    const isExistSlider = (checkContentNum) => {
      if (checkContentNum <= 0) {
        return false;
      }

      const lastContentNum = document.querySelectorAll('.my_contents').length;
      if (lastContentNum < checkContentNum) {
        return false;
      }

      return true;
    };

    const updateScreen = (targetContentNum) => {
      contentNum = targetContentNum;
      translateValue = (contentNum - 1) * contentWidth * -1;
      slider.style.transform = `translateX(${translateValue}px)`;

      tagList.forEach((tag) => {
        tag.classList.remove('active');
      });
      tagList[contentNum - 1].classList.add('active');
    };

    let touchStartX = 0;
    let touchEndX = 0;

    tagList.forEach((tag, index) => {
      tag.addEventListener('click', (event) => {
        event.preventDefault();
        updateScreen(index + 1);
      });
    });

    slider.addEventListener('touchstart', (event) => {
      touchStartX = event.touches[0].pageX;
    });

    slider.addEventListener('touchmove', (event) => {
      touchEndX = event.touches[0].pageX;
    });

    slider.addEventListener('touchend', (event) => {
      const deltaX = touchEndX - touchStartX;

      if (deltaX > 5) {
        prevContents();
      } else if (deltaX < -5) {
        nextContents();
      }
    });
  });
</script>

{% endblock page_content %}
