<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Workout List</title>
  </head>
  <body>
    <h1>Workout List</h1>
    <a href="{% url 'add_workout' %}">追加</a>
    <ul>
      {% for workout in workouts %}
      <li>
        {{ workout }}
        <a href="{% url 'edit_workout' workout_id=workout.pk %}"> 編集 </a>
        <form method="post" action="{% url 'delete_workout' workout.id %}">
          {% csrf_token %}
          <button type="submit">削除</button>
        </form>
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
