{% extends "fitlogapp/components/base_unauthenticated.html" %}
<!--  -->
{% block page_content %}
<div class="login-container">
  <h2>ユーザー登録</h2>
  {% if messages %}
  <div class="message-box">
    {% for message in messages %}
    <li class="{{message.tags}}">{{ message }}</li>
    {% endfor %}
  </div>
  {% endif %}
  <form method="post">
    {% csrf_token %}
    <div class="input-group">
      <label for="email">メールアドレス:</label>
      <input type="email" id="email" name="email" required />
    </div>

    <div class="input-group">
      <label for="password">パスワード:</label>
      <input type="password" id="password" name="password" required /><br />
    </div>
    <button type="submit" class="login-btn">登録</button>
  </form>
  <p class="signup-link">
    <a href="/signup">パスワードを忘れましたか？ </a>
  </p>
</div>

{% endblock page_content %}
