{% extends "fitlogapp/components/base_authenticated.html" %}
<!--  -->
{% block page_content %}

<h2>体重の記録</h2>
<a href="{% url 'add_bodyweight' %}">追加</a>
<ul>
  {% for bodyweight in bodyweights %}
  <li>
    {{ bodyweight.date }}_{{ bodyweight.body_weight }}kg
    <a href="{% url 'edit_bodyweight' bodyweight_id=bodyweight.pk %}"> 編集 </a>
    <form method="post" action="{% url 'delete_bodyweight' bodyweight.id %}">
      {% csrf_token %}
      <button
        type="submit"
        onclick="return confirm('投稿を削除してよろしいでしょうか？')"
      >
        削除
      </button>
    </form>
  </li>
  {% endfor %}
</ul>
{% endblock page_content %}
