<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static%}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Open body log</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Anton&family=Dancing+Script:wght@500&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="link_div">
      <a href='{% url "register" %}'>ユーザー登録</a>
      <a href='{% url "login" %}'>ログイン</a>
      <a href='{% url "logout" %}'>ログアウト</a>
      {% if user.is_authenticated %}
      <a href='{% url "home_page" %}'
        >ログインユーザー：{{ user.custom_username }}
      </a>
      <a href='{% url "show_chart" %}'>ワークアウト記録を確認</a>
      <a href='{% url "profile" %}'>プロフィールを表示</a>
      <a href='{% url "edit_profile" %}'>プロフィールを編集</a>
      <a href='{% url "add_post" %}'>投稿を追加</a>
      <a href='{% url "posts" %}'>投稿一覧を表示</a>
      {% endif %}
    </div>
    {% block page_content %}{% endblock %}
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
