<h2>Post List</h2>
{% for post in posts %}
<div>
  <h3>{{ post.title }}</h3>
  <p>{{ post.content }}</p>
  <p>Author: {{ post.user.custom_username }}</p>
  <p>Created at: {{ post.created_at }}</p>
  {% if post.image %}
  <img src="{{ post.image.url }}" alt="Post Image" style="max-width: 200px" />
  {% endif %}

  <!--  -->
  {% if post.user == request.user %}
  <a href="{% url 'edit_post' post.id %}">編集</a>
  <form
    method="post"
    action="{% url 'delete_post' post.id %}"
    style="display: inline"
  >
    {% csrf_token %}
    <button
      type="submit"
      onclick="return confirm('投稿を削除してよろしいでしょうか？')"
    >
      削除
    </button>
  </form>
  {% endif %}
</div>
{% endfor %}
